.config__container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    overflow: auto;
    max-height:560px;
}

.bitbucket__profile {
    display: flex;
    flex-direction: column;
}

.config__btns {
    margin-top:10px;
    display: flex;
    justify-content: flex-end;
}

.config__btns #load {
    margin:10px;
}

.config__btns #save {
    margin:10px 0px 10px 10px;
}

.config__btns #close {
    margin:10px 0px 10px 10px;
}