/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";
html, body { height: 100%; overflow: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-sort-header-arrow {
    color: white !important;
}
