.config__container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 30%;
    margin-top: 8%;
}

.update__setting .mat-form-field-infix {
    display: flex;
    padding-top: .5em;
}

.config__btns {
    display: flex;
    justify-content: flex-end;
}

.config__btns #config {
    margin:10px;
}

.config__btns #save {
    margin:10px 0px 10px 10px;
}

.config__btns #close {
    margin:10px 0px 10px 10px;
}