<div class="config__container">
    <mat-form-field appearance="outline">
        <mat-label>Personal Access Token</mat-label>
        <input matInput [(ngModel)]="bearerToken" (change)="dirtyCheck()"  #tokenInput="ngModel" 
            placeholder="Enter Personal Access Token" required>
        <mat-error *ngIf="tokenInput.hasError('required')">Personal Access Token cannot be empty!</mat-error>
        <mat-svg-icon 
            matSuffix 
            title="Personal Access Token"
            icon="access_key">
        </mat-svg-icon>
        <mat-hint>Goto Account >> Personal access tokens and create a new token</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Default Repository</mat-label>        
        <input disabled matInput placeholder="Enter default repository">
        <mat-svg-icon 
            matSuffix 
            title="Repository"
            icon="repository">
        </mat-svg-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Check For Updates Automatically</mat-label>        
        <input disabled matInput placeholder="Check for updates automatically">
        <mat-slide-toggle
            style="display: table-caption;"
            matSuffix
            (change)="autoCheckUpdates = autoCheckUpdates == true? false : true;dirtyCheck();"
            [checked]="autoCheckUpdates"
            color="primary">
        </mat-slide-toggle>
    </mat-form-field>
    
    <div class="config__btns">
        <button id="config" mat-raised-button color="accent"  (click)="viewProfiles()">View Profiles</button>  
        <button *ngIf="!tokenChanged" id="close" mat-raised-button color="warn"  [disabled]="tokenInput.errors" (click)="closeConfig()">Close</button>
        <button *ngIf="tokenChanged" id="save" mat-raised-button color="primary"  [disabled]="tokenInput.errors" (click)="saveConfig()">Save</button>
    </div>   
</div>